.topnav {
overflow: hidden;
background-color: #e9e9e9;
}
  
.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 50px;
font-size: 28px;
}

.topnav button {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 50px;
font-size: 28px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}
  
.topnav a.active {
background-color: #2196F3;
color: white;
}
  
.topnav .search-container {
float: right;
}
  
.topnav input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
}
  
.topnav .search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
}
  
.topnav .search-container button:hover {
background: #ccc;
}

#div1 {
margin: auto;
max-width:1000px;
display:flex;
margin: 100px 275px;
align-items:center;
justify-content: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 20px;
}

#div2 {
margin: auto;
height:400px;
display:flex;
margin:175px 0px;
align-items:center;
background:black;
opacity:0.6;
padding: 275px 390px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#div3 {
margin: auto;
height:400px;
display:flex;
margin:20px 0px;
align-items:center;
opacity:0.6;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#div4 {
margin: auto;
display:flex;
margin-top: 275px;
align-items:center;
justify-content: center;
background: snow;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 20px;
}

#div5 {
max-width: 1000px;
display:flex;
justify-content:center;
background:black;
opacity:0.6;
margin: 100px 390px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 10px;
}

#div6 {
margin: auto;
max-width:1000px;
display: inline;
margin: 150px 275px;
align-items:center;
justify-content: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 20px;
}
    
#text {
text-align: center;
margin: auto;
max-width:95%;
}

button {
background-color: salmon ;
color: white;
padding: 100px;
margin:20px;
border-radius: 10px;
cursor: pointer;
float: right;
border-style: solid;
}
        
button:hover {
background-color: sandybrown;
}